[submodule "themes/twenty-twenty-hugo"]
	path = themes/twenty-twenty-hugo
	url = https://github.com/themefisher/twenty-twenty-hugo.git
[submodule "themes/portio-hugo"]
	path = themes/portio-hugo
	url = https://github.com/StaticMania/portio-hugo
